@import url('https://fonts.googleapis.com/css2?family=Magra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    max-width: 1440px;
    margin: 0 auto;
}
@media (max-width:1200px) {
    body{
        max-width:970px;
    }
}
@media (max-width:992px) {
    body{
        max-width:750px;
    }
}
@media (max-width:767px) {
    body{
        max-width:100%;
    }
}
.wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #1d8397;
}
button {
    background-color: #0D606F;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.17px;
    box-shadow: 0px 2px 3px #0d606f16;
}
button:hover {
    box-shadow: 0px 4px 4px #00000025;
    background-color: #0b3841;
    transition: 0.5s;
    transform: scale(1.1);
}
h2 {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 52.92px;
    color: #F2785C;
    text-align: center;
}
._container {
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 8.333%;
}
.header {
    width: 100%;
    height: 90px;
    background-color: #f2775ca9;
    color: white;
    text-transform: capitalize;
    z-index: 5;
    box-shadow: 0px 1px 7px #0D606F;
    }
.header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Magra', sans-serif;
}
@media (max-width:1200px) {
    .header__logo{
        font-size: 26px;
        margin-right: -30px;
        margin-left: -30px;
    }
}
@media (max-width:992px) {
    .header__logo{
        font-size: 20px;
        margin-right: -30px;
        margin-left: -30px;    }
}
@media (max-width:767px) {
    .header__logo{
        font-size: 16px;
        margin-right: -30px;
        margin-left: -30px;    }
}
.header__logo img {
    margin-top: -10px;
    margin-right: 6px;
}
.nav__ul {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Red Hat Text', sans-serif;
}
.nav__ul li {
    margin-left: 42px;
}
@media (max-width:1200px) {
    .nav__ul li{
        font-size: 14px;
    }
}
@media (max-width:992px) {
    .nav__ul li{
        font-size: 12px;
    }
}
.nav__ul li:first-of-type {
    margin-left: 0px;
}
.header__button {
    width: 103px;
    height: 41px;
}
@media (max-width:1200px) {
    .header__button{
        width: 80px;
        height: 30px;
        margin-right: -30px;
        font-size: 14px;
    }
}
@media (max-width:992px) {
    .nav__ul li{
        font-size: 12px;
        margin-left: 10px;
    }
}
@media (max-width:767px) {
    .nav__ul li{
        margin-left: 5px;
    }
}
.preview {
    background-image: url(../img/preview_bcgr.jpg);
    position: relative;
    width: 100%;
    height: 765px;
    margin-top: -90px;
    margin-bottom: 80px;
}
.preview__container {
    max-width: 892px;
    padding-top: 72px;
}
h1 {
    font-family: 'Aleo', serif;
    color: #ffffff;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    margin-bottom: 30px;
}
@media (max-width:1200px) {
    h1{
        font-size: 70px;
    }
}
@media (max-width:992px) {
    h1{
        font-size: 60px;
    }
}
@media (max-width:767px) {
    h1{
        font-size: 50px;
    }
}
.subtitle {
    font-family: 'Aleo', serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    line-height: 24px;
    margin-bottom: 46px;
}
@media (max-width:1200px) {
    .subtitle{
        font-size: 18px;
    }
}
@media (max-width:992px) {
    .subtitle{
        font-size: 16px;
    }
}
.preview__form {
    background-color: #ffffffa8;
    max-width: 100%;
    height: 95px;
    border-radius: 16px;
}
.preview__form__inp::placeholder {
    color: #F2785C;
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 400px;
    font-size: 24px;
}
@media (max-width:1200px) {
    .preview__form__inp::placeholder{
        font-size: 20px;
    }
}
.preview__form__inp {
    width: 560px;
    border: none;
    color: #F2785C;
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 400px;
    font-size: 24px;
    background-color: #ffffff00;
    margin-top: 32px;
    margin-left: 41px;
    margin-right: 45px;
    line-height: 28.8px;
}
@media (max-width:1200px) {
    .preview__form__inp{
        width: 480px;
    }
}
@media (max-width:1318px) {
    .preview__form__inp{
        width: 440px;
    }
}
@media (max-width:992px) {
    .preview__form__inp{
        width: 300px;
    }
}
@media (max-width:780px) {
    .preview__form__inp{
        width: 250px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width:400px) {
    .preview__form__inp{
        width: 150px;
    }
}
.preview__form__button {
    width: 228px;
    height: 59px;
    font-size: 24px;
    background-color: #0D606F;
}
@media (max-width:1200px) {
    .preview__form__button{
        font-size: 20px;
        width: 200px;
    }
}
@media (max-width:992px) {
    .preview__form__button{
        font-size: 18px;
        width: 180;
        height: 50px;
        margin-left: auto;
    }
}
@media (max-width:767px) {
    .preview__form__button{
        font-size: 16px;
        width: 150px;
    }
}
@media (max-width:400px) {
    .preview__form__button{
        width: 100px;
        font-size: 10px;
    }
}
.steps h2 {
    margin-bottom: 40px;
}
.steps__items {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: -18px;
}
.steps__item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.steps__item p {
    color: #0D606F;
    font-family: 'Aleo', serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 79px;
}
.destinations__container h2 {
    margin-bottom: 46px;
}
.destinations__photos {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.destinations__photos img {
    margin-left: 40px;
}
.destinations__photos img:first-of-type {
    margin-left: 0;
}
.destinations__viget {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 20px;
}
.destinations__viget img {
    margin-left: 5px;
}
.destinations__viget img:first-of-type {
    margin-left: -10px;
}
.destinations__viget:hover {
    cursor: pointer;
}
.destinations__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 59px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 31.75px;
}
.destinations__button img {
    margin-right: 10px;
}
.stories__desk {
    background-image: url(../img/stories_bcg.jpg);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 61px;
}
.stories__container {
    position: absolute;
    z-index: 1;
    margin-left: 7%;
}
.stories h2 {
    margin-bottom: 45px;
}
.stories__desk_white {
    width: 100%;
    height: 1270px;
    opacity: 0.7;
    background-color: white;
    position: relative;
    margin-top: -40px;
}
.stories__item {
    display: flex;
    margin-bottom: 25px;
}
.stories__text h3 {
    font-size: 32px;
    line-height: 42px;
    font-family: 'Aleo', serif;
    font-weight: 400;
    color: #0D606F;
    margin-top: 0;
    margin-bottom: 24px;
}
.stories__img {
    margin-right: 3%;
    margin-left: -20px;
}
.stories__img img {
    border-radius: 16px;
    box-shadow: 0px 4px 4px #0D606F;
}
.stories__text p {
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #0D606F;
    margin-bottom: 0;
    margin-top: 0;
}
.stories__text span {
    font-weight: 700;
    text-decoration-line: underline;
}
.stories__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 59px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    line-height: 31.75px;
}
.stories__button img {
    margin-right: 10px;
}
.footer__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.17px;
    color: white;
    margin-top: -53px;
}
.footer__container_text {
    padding-right: 24%;
}
.footer__container_social ul {
    display: flex;
    list-style-type: none;
}
.footer__container_social li {
    margin-right: 20px;
}
.footer__container_social li:last-of-type {
    margin-right: 0;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto ;
}